// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";

.margin-top-negative {
    margin-top: -75px;
}

.form-container {
  width: 600px;
}

.flat-card-image {
  height: 180px;
  background-position: center;
  background-size: cover;
}
