.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.banner {
  background-image: url("https://images.unsplash.com/photo-1494526585095-c41746248156?w=1200");
  height: 400px;
}

.map {
    height: 350px;
    background-position: center;
    background-size: cover;
}
